/* fonts --------------------------------------------------------------
Poppins:400,500,600,700,800,900' 
-----------------------------------------------------------------------

/* colors -------------------------------------------------------------
nyanza= #E1FFCA
french lime= #91FE40
smoky black= #0F0E10
jet= #323232
white= #FFFFFF
-----------------------------------------------------------------------
*/

body {
    font-family: 'Poppins', san-serif;
  }

#main-nav{
    /* position: absolute;
    width: 300px;
    height: 1000px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0px; */
    background: #ffffff;
    height: 900px;
}

#mini-nav{
    background: #91FE40;
    height: 900px;
}

#intro-image{
    /* position: absolute;
    width: 900px;
    height: 1000px;
    left: 218px;
    top: 0px;
    bottom: 0px; */
    /* background-image: url(/static/images/faith2.jpg), #E1FFCA; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  */
    background-color: #E1FFCA;
    background-image: url(/static/images/faith2.jpg);
    
    height: 900px;
}


#main-logo {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 300px;

    color: #91FE40;

    transform: rotate(90deg);
}



/* Navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0F0E10;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #91FE40;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* End Navigation------------------------ */

/* Image Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* Modal */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #0F0E10; /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #91FE40;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  /* End Modal------------------------ */



