/* fonts --------------------------------------------------------------
Poppins:400,500,600,700,800,900' 
-----------------------------------------------------------------------

/* colors -------------------------------------------------------------
nyanza= #E1FFCA
french lime= #91FE40
smoky black= #0F0E10
jet= #323232
white= #FFFFFF
-----------------------------------------------------------------------
*/

body {
    font-family: 'Poppins', san-serif;
  }

#main-nav{
    /* position: absolute;
    width: 300px;
    height: 1000px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0px; */
    background: #ffffff;
    height: 900px;
}

#mini-nav{
    background: #91FE40;
    height: 900px;
}

#intro-image{
    /* position: absolute;
    width: 900px;
    height: 1000px;
    left: 218px;
    top: 0px;
    bottom: 0px; */
    /* background-image: url(/static/images/faith2.jpg), #E1FFCA; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  */
    background-color: #E1FFCA;
    background-image: url(/static/images/faith2.jpg);
    
    height: 900px;
}


#main-logo {
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 300px;

    color: #91FE40;

    transform: rotate(90deg);
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




