{%extends 'main/base.html'%}


{% block content %}

<div id="elm_5:1" class="imageframe" style="width : 555px; height : 443px; background-color : rgba(255, 255, 255, 1);overflow: hidden; top:0px; left:0px; position: relative; position: relative; ">
<div id="elm_5:6" class="line_line" style="width : 281.9999883063065px; height : 0.9999999417686922px; border: 0.75px solid rgba(255, 255, 255, 1); top:401.0000000582313px; left:273px; position: absolute; "></div>
<div id="elm_5:5" class="line_line" style="width : 9px; height : 0px; z-index: 1; border: 0.75px solid rgba(0, 0, 0, 1); top:352px; left:293px; position: absolute; "></div>
<div id="elm_5:8" class="line_line" style="width : 45px; height : 0px; z-index: 2; border: 0.75px solid rgba(0, 0, 0, 1); top:402px; left:181px; position: absolute; "></div>
<div id="elm_5:9" class="line_line" style="width : 7px; height : 6.119598765508272e-7px; z-index: 3; border: 0.75px solid rgba(255, 255, 255, 1); top:401px; left:42px; position: absolute; "></div>
<div id="elm_5:14" class="rectangle_faith2" style="width : 707.8152465820312px; height : 902.969970703125px; background: url(https://s3-us-west-2.amazonaws.com/figma-alpha-api/img/13cf/79d4/2e3b7f36c8d6c22112f70abd97c363b4) no-repeat; background-size: cover; z-index: 4; top:-196px; left:-57px; position: absolute; "></div>
<div id="elm_5:22" class="text_5:22" style="width : 98.00001709115259px; height : 391.0000042837164px; z-index: 6; font-family: Poppins; font-size: 100px; line-height: 117.1875px; text-align: LEFT; color : rgba(145, 254, 64, 1);top:98.99999571628359px; left:21.000009461758054px; position: absolute; ">click</div>
<div id="elm_8:10" class="text_8:10" style="width : 117px; height : 105px; z-index: 7; font-family: Poppins; font-size: 90px; line-height: 105.46875px; text-align: LEFT; color : rgba(0, 0, 0, 1);top:160px; left:433px; position: absolute; ">01</div>
<div id="elm_8:9" class="rectangle_rectangle_3.1" style="width : 387px; height : 1px; background-color: rgba(145, 254, 64, 1); z-index: 8; top:41px; left:0px; position: absolute; "></div><div id="elm_8:11" class="rectangle_rectangle_3.2" style="width : 120px; height : 1px; background-color: rgba(145, 254, 64, 1); z-index: 9; top:410px; left:26px; position: absolute; ">
</div>
<div id="elm_8:23" class="text_8:23" style="width : 192px; height : 21px; z-index: 10; font-family: Poppins; font-size: 14px; line-height: 16.40625px; text-align: LEFT; color : rgba(145, 254, 64, 1);top:400px; left:159px; position: absolute; ">Faith - Mirror’s Edge </div>
</div>

{%endblock%}