

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'homepage' %}">Home</a>
    <a href="{% url 'characters' %}">Characters</a>
    <form class="navbar-form" role="search" action="{% url 'search_results' %}">        
          <input type="text" class="form-control" placeholder="Search" name="search" width="50" height="50">
    </form>
  </div>
  <img src="/static/images/menu.png" alt="menu" id="menu" onclick="openNav()">
</body>
</html>







