{%load bootstrap4%}
{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%if title%}
            <title>{{title}}</title>
        {%else%}
            <title>Welcome to shutterbugg</title>
        {%endif%}

        {% block styles %}
            {% bootstrap_css %}
            <link href="{% static 'css/base.css' %}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900" rel="stylesheet">
        {% endblock %}       
    </head>

    <body>
        {%include "navigation.html"%}
       
        <h1>Testing 1,2,3....</h1>
        {%block scripts%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            {%bootstrap_javascript%}
        {%endblock%}
    </body>
</html>