{%extends 'main/base.html'%}


{% block content %}
<!-- 
<div class="row">
<aside id="main-nav">
main navigation here
</aside>
<section id="intro-image">
image here
</section>
<aside id="mini-nav">
mini navigation here
</aside>

</div> -->

<div class="">
        <div class="row" id="main-nav">
          <div class="col-3 no-float">
              {%include "navigation.html"%}
            <h1 id="main-logo">click</h1>
          </div>
          <div class="col-7 no-float" id="intro-image">
            
          </div>
          <div class="col-2 no-float" id="mini-nav">
            
          </div>
        </div>
      </div>

{%endblock%}