{%extends 'main/base.html'%}


{% block content %}

<div class="">
        <div class="row" id="main-nav">
          <div class="col-3 no-float">
            <div>{%include "navigation.html"%}</div>
              
              <div id="click-logo"><img id="main-logo" src="/static/images/main-logo-02.png" alt="logo"></div>
            <div id="social1">
                <a href="http://www.twitter.com"><img src="/static/images/twitter-logo-button.png" alt="twitter" id="social-icons"></a>
              
            </div>
            <div id="social2">
              <a href="http://www.instagram.com"><img src="/static/images/instagram.png" alt="instagram" id="social-icons"></a>    
            </div>
            <div id="social3">
              <a href="http://www.facebook.com"><img src="/static/images/facebook-logo-button.png" alt="facebook" id="social-icons"></a>
                
              </div>
          </div>
          <div class="col-7 no-float" id="intro-image">

            
              <img id="myImg" src="/static/images/F1.png" alt="faith" style="width:100%;max-width:300px">

              <!-- The Modal -->
              <div id="myModal" class="modal">
              
                <!-- The Close Button -->
                <span class="close">&times;</span>
              
                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">
              
                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
                <img src="/static/images/share-green.png" alt="share button" width="100" height="100" position="centered">
              </div>


          </div>

          <div class="col-2 no-float" id="mini-nav">
            
          </div>
        </div>
      </div>
     

{%endblock%}
