{%extends 'main/base.html'%}


{% block content %}
<!-- 
<div class="row">
<aside id="main-nav">
main navigation here
</aside>
<section id="intro-image">
image here
</section>
<aside id="mini-nav">
mini navigation here
</aside>

</div> -->

<div class="">
        <div class="row" id="main-nav">
          <div class="col-lg-3">
            One of three columns
          </div>
          <div class="col-lg-7" id="intro-image">
            One of three columns
          </div>
          <div class="col-lg-2" id="mini-nav">
            One of three columns
          </div>
        </div>
      </div>

{%endblock%}